.outlineEle {
    margin: 5px 5px;
    display: flex ;
}
header{
    justify-content: flex-start;
    font-size: 15px;
    background-color: khaki;
    display: flex;
    position: sticky;
    top: 0px;
    min-height: 25px;
    min-width: 943px;
}
nav{
    text-decoration: none;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;

    font-size: 13px;
    min-height: 15px;
    min-width: 943px;
}
.font4{
    font-family: "Yuanti TC";
    font-size: 30px;
    padding: 0px 0px 0px 10px;
}
.font5{
    color: gray;
    font-family: "PingFang HK";
    font-size: 14px;
    padding: 15px 30px 4px 30px;
    display: flex;
}
.font2{
    font-size: 16px;
    margin: 0px 8px;
    color:black;
    font-family: "Yuanti TC";
    padding: 3px;

}
section{
    border-style: solid;
    border-color: white;
    min-width: 943px;
    min-height: 86px;
    background-color: white;
    display: flex;
    justify-content: center;
}
b{
    padding: 50px;
    border-style: solid;
    border-color: white;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 70vh;
    border-radius: 3px;

}
ad{
    border: #f9f9f9;
    min-width: 650px;
    min-height: 510px;
    display: flex;
    font-size: 10px;
    justify-content: space-evenly;

    border-radius: 3px;
    color: brown;
    background-color: #feda89;
}
.font6{

    min-height: 20px;
    padding: 100px 0px 60px 0px;
}
.phone{
    min-width: 180px;
    max-height: 400px;
    animation-name: move2;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    margin: 80px 10px;
    display: flex;
}
@keyframes move2{
    0% {
        background-image: url("assets/southeast-cutout.png");
        background-size: cover;
        display: flex;
    }
    25% {
         background-image: url("assets/southeast-cutout2.png");
         background-size: cover;
         display: flex;
     }
    50% {
        background-image: url("assets/southeast-cutout3.png");
        background-size: cover;
        display: flex;
    }
    75% {
        background-image: url("assets/southeast-cutout4.png");
        background-size: cover;
        display: flex;
    }
    100% {
        background-image: url("assets/southeast-cutout5.png");
        background-size: cover;
        display: flex;
    }
}
.font3{
    padding: 150px 50px 100px 10px;
    font-size:20px;
    font-family: "Yuanti TC";
    display: flex;

}
.img{
    padding: 0px 100px 10px 50px;
}
.one{
    animation-name: move;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    height: 202px;
    display: flex;
    min-width: 515px;
    min-height: 202px;
}
@keyframes move {
    0% {
        background-image: url("assets/food3.jpeg");
        background-size: cover;
        display: flex;
    }
    50% {
        background-image: url("assets/food1.jpeg");
        background-size: cover;
        display: flex;
    }
    100% {
        background-image: url("assets/food2.jpeg");
        background-size: cover;
        display: flex;
    }
}
.btn {


    border-color: khaki;
    background-color: #feda89;
    min-width: 120px;
    height:130px;
    cursor: pointer;
    padding: 60px 5px 0px 0px;

    display: inline-block;

}
.font{
    color: gray;
    font-size: 20px;
    padding: 10px 3px 0px 5px
}

a {
    text-decoration: None;
    display: flex;
}
a.container{
    color: black;
    font-family: "PingFang HK";
}
.navbar{
    justify-content: space-around;
    display: flex;
}
footer {
    font-size: 10px;
    min-height: 7px;
    border-radius: 0 0 4px 4px;
    color: black;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
}
.foot_section{
    width: 60px;
    min-height: 10px;
}
.bottom{
    text-align: center;
    font-size: 10px;
    color: gray;
    height: 10vh;
}
